* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;

}

.container {
  width: 90%;
  margin: 0 auto;
}

.logo img {
  height: 70px;
  /* width: 190px; */
  justify-content: center;
  align-items: center;
}

/* ~~~~~~~shared style~~~ */


.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;

}

.white-btn {
  background-color: #fff8f3;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #fd6e0a;
  cursor: pointer;
  border: 1px solid #fd6e0a;
  margin-left: 10px;
}

.section-heading {
  /* max-width: 700px; */
  text-align: center;
  justify-content: center;
}

.section-heading h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 25px;
  color: #757575;
}







header {
  background-color: #fff8f3;
  padding-top: 15px;
  /* padding-bottom: 40px; */
  background: url("../images/developer (1).png"), url("../images/header_bg (3).png"), #fff8f3;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}


/* ~~~~~~nav design~~~~~~~~ */

nav {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 100;

}

nav .menu {
  display: flex;
  list-style: none;
  gap: 45px;
  align-items: center;
}

nav .menu a {
  font-size: 16px;
  font-weight: 500;
  color: #474747;
  text-decoration: none;
}

/* ~~~header design~~~~~~ */
#banner {
  display: flex;
  /* border: 1px solid red; */
  margin: 20px 0px 0px 140px;
  justify-content: space-between;
  align-items: center;

}

#banner .banner-content {
  max-width: 645px;
}

#banner .banner-content h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 3px;
  color: #474747;
}

#banner .banner-content h1 {
  font-size: 65px;
  color: #181818;
  margin-bottom: 10px;
}

#banner .banner-content p {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;

}

.banner-img img {
  width: 471px;
  height: 560px;
  vertical-align: middle;

}

/* ~~~~~~~~~about section~~~~~~~ */
#about {
  padding-top: 110px;
}

#about .about-container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 100px 120px;
}

.about-info {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  text-align: center;
}

.info-card p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 10px;

}

.info-card h4 {
  /* font-size: 20px; */
}

/* ~~~~~~~~experience section~~~~~~~ */
#working-station {
  /* padding-top: 110px; */
}

#working-station .working-container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 100px 0;
}
#working-station .section-heading{
  padding:0 120px ;
}

.experience {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.experience-card {
  background-origin: #fff;
  border-radius: 10px;
  width: 250px;
  padding: 30px;
  text-align: left;
  box-shadow: 0px 0px 10px rgb(205, 196, 196);
}

.experience-img {
  margin-bottom: 15px;


}

.experience-card h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;

}

.experience-card p {
  font-size: ;
  line-height: 28px;
  color: #757575;
}